<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>


  <appSettings>
    <!-- Root Values -->
    <add key="EmailRoot" value="jimmy@joeschedule.mailgun.org"/>

    <!-- Mailgun.org settings -->
    <add key="MGApiKey" value="key-0-rxwnpe9gllqe6odwxebn79vicgxf76"/>

    <!-- RabbitMQ settings -->
    <add key="RabbitMQqueue" value="test_q"/>
    <add key="RabbitMQexchange" value="test_x"/>
    <add key="RabbitMQrouting_key" value="test_r"/>
  </appSettings>


</configuration>