<html>
<form action="./contract001/contract001" method="POST">
<table border="1">

<tr>
<td colspan="100%" align="center"> Move stuff from <i>A</i> to  <i>B</i></td>
</tr>

<tr>
<td>From zipcode: <input type="text" id="fld_from" name="from" ></td>
<td>To zip: <input type="text" id="fld_to" name="to"></td>
</tr>

<tr>
<td colspan="100%" align="left"> <hr></hr></td>
</tr>


<tr>
<td  id="fld_whatdetails" name="whatdetails" colspan="100%" align="left"> What(details):
<br/>
<textarea rows="4" cols="50">
What details...
</textarea>
</td>
</tr>
<tr>
<td colspan="100%" align="left"> From(details):
<br/>
<textarea id="fld_fromdetails" name="fromdetails" rows="4" cols="50">
From details...
</textarea>
</td>
</tr>

<tr>
<td colspan="100%" align="left"> To(details):
<br/>
<textarea id="fld_todetails" name="todetails" rows="4" cols="50">
To details...
</textarea>
</td>
</tr>



<tr>
<td colspan="100%" align="left"> When(details):
<br/>
<textarea id="fld_whendetails" name="whendetails" rows="4" cols="50">
When details...
</textarea>
</td>
</tr>

    <tr>
<td colspan="100%" align="left">   
    Contact email: <input type="text" id="fld_contactEmail" name="contactEmail" >    
    <br/>
    Verify  &nbsp; email: <input type="text" id="fld_verifyEmail" name="verifyEmail" >    
</td>
</tr>


<tr>
<td colspan ="100%" align="right"><button type="button">Contact: Yes I can move it</button></td>
</tr>
<tr>
<td colspan="100%" align="left">
<button type="button">I need to move something</button> 
<button type="button">Looking to move stuff</button>
</td>
</tr>
</table>

        <input type="submit"  name="Operation" value="submit!"/>
        </form>

<i>version: 101</i>
</html>